{% extends '../base.html' %}
{% block content %}

<h1> <div style="background: linear-gradient(to right, #8860d0 , #5ab9ea);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; font-family: 'Times New Roman', Times, serif;
    text-align: center;">Simplified transactions</div></h1>
<div class="card text-center">
    <div class="text-center padding">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Debtor</th>
                <th scope="col">Creditor</th>
                <th scope="col">Amount</th>
              </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
            <tr>
            <td>{{t.debtor.user.username}}</td>
            <td>{{t.creditor.user.username}}</td>
            <td>{{t.amount}}</td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
</div>
<br>

{% endblock %}