{% extends '../base.html' %}
{% block content %}
{% include '../navbar.html' %}
{% load static %}
<script src="{% static 'index.js' %}" type="module" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<div style="
text-align: center;
background: linear-gradient(to right, #8860d0 , #5ab9ea);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
font-family: Sofia, sans-serif; 
font-weight: 900;
margin-top: 375px;
"><h1>Record Transactions and Split with friends</h1></div>
<br>
<br>
<br>
<br>
<div id="graph" class="card padding" style="width: 80%;">
    <div class="card-body" style="background: linear-gradient(to right, #8860d0 , #5ab9ea);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; font-family: 'Times New Roman', Times, serif;">
   <p class="card-title"><h3> Keep Track of transactions with charts and graphs</h3></p>
   {% if user.is_authenticated %}
   <div id="myChart" style="max-width:700px; height:400px"></div>
   {% else %}
   Login To View
   {% endif %}
    </div>
</div>
<div class="card" style="width: 100%; background: linear-gradient(to right, #8860d0 , #5ab9ea); font-family: 'Times New Roman', Times, serif; color:white; text-align: center;">
  <div class = "card-body">
    <p class="card-title"><h4>Connect to an Ethereum wallet <button class="enableEthereumButton">Enable Ethereum</button></h4></p>
    <h5>Account: <span class="showAccount"></span></h5>
    <h4>Generate receipt from transaction hash</h4>
    <form method="post" id="formid">
      {% csrf_token %}
      <input type="text" name="txnhash" placeholder="Transaction hash" id="txnid">
      <button type="submit" name="getreceipt" class="getreceipt">Get Receipt</button>
    </form>
    </div>
</div>
<div id = "broadcast" class="card padding" style="width: 80%;">
  <div class="card-body" style="background: linear-gradient(to right, #8860d0 , #5ab9ea);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; font-family: 'Times New Roman', Times, serif;">
 <p class="card-title"><h3> Split debts equally with friends and other users.</h3></p>
 {% if user.is_authenticated %}
 <button style="background-color: transparent;">
 <div style="color: black;">
  <a href="{% url 'viewGroup' %}">View Broadcast lists</a>
 </div>
 </button>
 {% else %}
 Login To View
 {% endif %}
  </div>
</div>
<div class="card" style="width: 100%; background: linear-gradient(to right, #8860d0 , #5ab9ea); font-family: 'Times New Roman', Times, serif; color:white; text-align: center;">
  <p class="card-title"><h3> Stellar Ledger</h3></p>
  For any queries contact: stellarledger117@gmail.com
</div>
<script>
    google.charts.load('current',{packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
  const data = google.visualization.arrayToDataTable([
    ['Category', 'Amount'],
    ['Bills', 55],
    ['Food', 49],
    ['Shopping', 44],
    ['Gifts', 24],
  ]);
  const options = {
    title: 'Expenses v/s Category'
  };

  const chart = new google.visualization.BarChart(document.getElementById('myChart'));
  chart.draw(data, options);

  let form=document.getElementById("formid")

  function submit_form(e){
    e.preventDefault()
  }
  form.addEventListener('submit', submit_form)
}
</script>
{% endblock %}